/vendor
/node_modules
/bower_components

/public/assets/facepalm

Homestead.yaml
Homestead.json
.env

.idea
.DS_Store
Thumbs.db
.*~
.*
*.zip
*.*~
*.pyc
composer.lock
!.gitattributes
!.gitignore
!.env.example
!.gitkeep

storage/cms-config-cache.json

#if building on server, uncomment this lines and remove files from git
#busters.json
#public/assets/build
