a {
    color: #1EAEDB;
    text-decoration: none;
    &:hover {
        color: #0FA0CE;
    }
    &:active {
        color: #0CA7CA;
    }
}

h1 {
    font-size: 55px;
    line-height: 55px;

    @media all and (max-width: 540px) {
        font-size: 40px;
        line-height: 40px;
    }
}

h2 {
    font-size: 35px;
    line-height: 35px;
}

h2 {
    font-size: 20px;
    line-height: 20px;
}

button {
    background: #1EAEDB;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;

    &:hover {
        background: #0FA0CE;
        cursor: pointer;
    }

    &:active {
        background: #0CA7CA;
        margin-top: 1px;
        margin-bottom: -1px;
    }

    &:disabled {
        background: #ccc;
        color: #aaa;
        cursor: default;
    }

}

input {
    &[type="text"], &[type="email"], &[type="password"],textarea {
        border: 1px solid #1EAEDB;
        padding: 4px;
        color: #333;
        outline: none;

        &:hover {
            border: 1px solid #0FA0CE;
        }

        &:focus {
            border: 1px solid #0CA7CA;
        }

        &.error {
            border: 1px solid #EE3333;
        }
    }

    &[type="checkbox"].beauty {
        display: none;

        & + label {
            &:before {
                content: '';
                display: inline-block;
                height: 20px;
                width: 20px;
                background: url("../i/checkbox.png") 0 -20px no-repeat;
                user-select: none;
                vertical-align: sub;
                margin-right: 7px;
            }
        }
        &:checked {
            & + label {
                &:before {
                    background: url("../i/checkbox.png") -20px -20px no-repeat;
                }
            }
        }

    }
}
