$grapefruitLight: #ed5565;
$grapefruitDark: #da4453;

$bittersweetLight: #fc6e51;
$bittersweetDark: #e9573f;

$sunflowerLight: #ffce54;
$sunflowerDark: #f6bb42;

$grassLight: #a0d468;
$grassDark: #8cc152;

$mintLight: #48cfad;
$mintDark: #37bc9b;

$aquaLight: #4fc1e9;
$aquaDark: #3bafda;

$bluejeansLight: #5d9cec;
$bluejeansDark: #4a89dc;

$lavanderLight: #ac92ec;
$lavanderDark: #967adc;

$pinkroseLight: #ec87c0;
$pinkroseDark: #d770ad;

$lightgrayLight: #f5f7fa;
$lightgrayDark: #e6e9ed;

$mediumgrayLight: #ccd1d9;
$mediumgrayDark: #aab2bd;

$darkgrayLight: #656d78;
$darkgrayDark: #434a54;

$veryDarkgrayLight: #2f3238;
$veryDarkgrayDark: #1f2227;

.red {
    background: $bittersweetDark;
    color: white;
}

.yellow {
    background: $sunflowerLight;
}

.green {
    background: $grassDark;
}

.blue {
    background: $bluejeansDark;
}

.violet {
    background: $lavanderDark;
}

.mint-light {
    background: $mintLight;
}

.mint-dark {
    background: $mintDark;
}

.avatar-color-1 {
    background-color: $grapefruitLight;
}

.avatar-color-2 {
    background-color: $grapefruitDark;
}

.avatar-color-3 {
    background-color: $bittersweetLight;
}

.avatar-color-4 {
    background-color: $bittersweetDark;
}

.avatar-color-5 {
    background-color: $sunflowerLight;
}

.avatar-color-6 {
    background-color: $sunflowerDark;
}

.avatar-color-7 {
    background-color: $grassLight;
}

.avatar-color-8 {
    background-color: $grassDark;
}

.avatar-color-9 {
    background-color: $mintLight;
}

.avatar-color-10 {
    background-color: $mintDark;
}

.avatar-color-11 {
    background-color: $aquaLight;
}

.avatar-color-12 {
    background-color: $aquaDark;
}

.avatar-color-13 {
    background-color: $bluejeansLight;
}

.avatar-color-14 {
    background-color: $bluejeansDark;
}

.avatar-color-15 {
    background-color: $lavanderLight;
}

.avatar-color-16 {
    background-color: $lavanderDark;
}

.avatar-color-17 {
    background-color: $pinkroseLight;
}

.avatar-color-18 {
    background-color: $pinkroseDark;
}